<h1>Calcolatrice</h1>
<div class='container'>
  <input class="risultato" type="text" [(ngModel)]="espressione">
  
	<p>
		<button type="button" class="btn btn-danger buttons" (click)="cancella()">CE</button>
		<button type="button" class="btn btn-danger buttons"(click)="cancella()">C</button>
		<button type="button" class="btn btn-danger buttons"(click)="meno()"><-</button>
		<button type="button" class="btn btn-primary buttons"(click)="add('/')">/</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('7')">7</button>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('8')">8</button>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('9')">9</button>
		<button type="button" class="btn btn-primary buttons"(click)="add('*')">X</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('4')">4</button>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('5')">5</button>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('6')">6</button>
		<button type="button" class="btn btn-primary buttons"(click)="add('-')">-</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('1')">1</button>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('2')">2</button>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('3')">3</button>
		<button type="button" class="btn btn-primary buttons"(click)="add('+')">+</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-primary buttons"(click)="add('-')">+-</button>
		<button type="button" class="btn btn-outline-dark buttons"(click)="add('0')">0</button>
		<button type="button" class="btn btn-outline-primary buttons"(click)="add('.')">,</button>
		<button type="button" class="btn btn-success buttons"(click)="uguale()">=</button>
	</p>
</div>