<h1>Calcolatrice</h1>
<div class='container'>
  <input class="risultato" type="text" [(ngModel)]="risultato">
	<p>
		<button type="button" class="btn btn-danger buttons">CE</button>
		<button type="button" class="btn btn-danger buttons">C</button>
		<button type="button" class="btn btn-danger buttons"><-</button>
		<button type="button" class="btn btn-primary buttons">/</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-dark buttons">7</button>
		<button type="button" class="btn btn-outline-dark buttons">8</button>
		<button type="button" class="btn btn-outline-dark buttons">9</button>
		<button type="button" class="btn btn-primary buttons">X</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-dark buttons">4</button>
		<button type="button" class="btn btn-outline-dark buttons">5</button>
		<button type="button" class="btn btn-outline-dark buttons">6</button>
		<button type="button" class="btn btn-primary buttons">-</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-dark buttons">1</button>
		<button type="button" class="btn btn-outline-dark buttons">2</button>
		<button type="button" class="btn btn-outline-dark buttons">3</button>
		<button type="button" class="btn btn-primary buttons">+</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-primary buttons">+-</button>
		<button type="button" class="btn btn-outline-dark buttons">0</button>
		<button type="button" class="btn btn-outline-primary buttons">,</button>
		<button type="button" class="btn btn-success buttons">=</button>
	</p>
</div>