<h1>Calcolatrice</h1>
<div class='container'>
  <input class="risultato" type="text" [(ngModel)]="risultato">
	<p>
		<button type="button" class="btn btn-outline-primary buttons">CE</button>
		<button type="button" class="btn btn-outline-primary buttons">C</button>
		<button type="button" class="btn btn-outline-primary buttons">-</button>
		<button type="button" class="btn btn-outline-primary buttons">/</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-primary buttons">7</button>
		<button type="button" class="btn btn-outline-primary buttons">8</button>
		<button type="button" class="btn btn-outline-primary buttons">9</button>
		<button type="button" class="btn btn-outline-primary buttons">X</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-primary buttons">4</button>
		<button type="button" class="btn btn-outline-primary buttons">5</button>
		<button type="button" class="btn btn-outline-primary buttons">6</button>
		<button type="button" class="btn btn-outline-primary buttons">-</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-primary buttons">1</button>
		<button type="button" class="btn btn-outline-primary buttons">2</button>
		<button type="button" class="btn btn-outline-primary buttons">3</button>
		<button type="button" class="btn btn-outline-primary buttons">+</button>
	</p>
	<p>
		<button type="button" class="btn btn-outline-primary buttons">+-</button>
		<button type="button" class="btn btn-outline-primary buttons">0</button>
		<button type="button" class="btn btn-outline-primary buttons">,</button>
		<button type="button" class="btn btn-outline-primary buttons">=</button>
	</p>
</div>